/* Base Colors */

$purple: #9e54bd;
// $darkpurple: #823aa0;
$darkpurple: #542f68;

$gray: #d9e3e3;



/* Fonts */
@font-face {
    font-family: 'signikabold';
    src: url('signika-bold-webfont.eot');
    src: url('signika-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('signika-bold-webfont.woff') format('woff'),
         url('signika-bold-webfont.ttf') format('truetype'),
         url('signika-bold-webfont.svg#signikabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikalight';
    src: url('signika-light-webfont.eot');
    src: url('signika-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('signika-light-webfont.woff') format('woff'),
         url('signika-light-webfont.ttf') format('truetype'),
         url('signika-light-webfont.svg#signikalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikaregular';
    src: url('signika-regular-webfont.eot');
    src: url('signika-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('signika-regular-webfont.woff') format('woff'),
         url('signika-regular-webfont.ttf') format('truetype'),
         url('signika-regular-webfont.svg#signikaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikasemibold';
    src: url('signika-semibold-webfont.eot');
    src: url('signika-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('signika-semibold-webfont.woff') format('woff'),
         url('signika-semibold-webfont.ttf') format('truetype'),
         url('signika-semibold-webfont.svg#signikasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* General Formatting */

h1, h2, h3, h4, h5 {
	// font-family: "adelle",serif;
	// font-family: 'signikasemibold', serif;
	// font-family: "omnes-pro",sans-serif;
	// font-style: italic;

	font-family: "museo-slab",serif;
	color: $darkpurple;
	margin: 1.5em 0 0.5em 0;
}


h1 { font-size: 2em; }

h2 { font-size: 1.6em; }

h3 { font-size: 1.4em; }

h4 { font-size: 1.2em; }

h5 { font-size: 1em; }

body {
	font-family: 'source-sans-pro', sans-serif;
	font-size: 1em;
	color: $darkpurple;
	background-color:#ffffff;
	line-height: 1.4;
}

p {
	line-height: 1.8;
}

a {
	color: $darkpurple;
	text-decoration: none;
	-webkit-transition: all ease .25s;
	-moz-transition: all ease .25s;
	transition: all ease .25s;
}

a:hover {
	color: $purple;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}

ul li {
	list-style-type: circle;
	padding-bottom: 0.3em;
}

ol li {
	padding-bottom: 0.3em;
}


/* Input Fields */

input[type="text"].input-field {
	font-family: 'source-sans-pro', sans-serif;
	color: $darkpurple;
	margin-bottom: .625em;
	padding: 1em;
	font-size: 1em;
	text-align: center;
	width: 13%;
	margin-left: 2em;
	vertical-align: top;
	margin-top: 8px;
	-webkit-appearance: none;
	border: 2px solid $darkpurple;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    display: inline;
    margin: 0;
    transition: none;
    line-height: normal;
}

input[type="text"] .input-field:focus {
	border: 2px solid $purple;
	outline:none;
}

textarea.submit-quotes {
	font-family: 'source-sans-pro', sans-serif;
	color: $darkpurple;
	min-height: 200px;
	border: 2px solid $darkpurple;
	width: 100%;
	margin: 0;
	padding: 0.5em;
	&:focus {
		outline: none;
		border: 2px solid $purple;
	}
}

/* Buttons */

.button {
	font-family: "museo-slab",serif;
	font-size: 2em;
	padding: 0.5em 1em;
	display: inline-block;
	font-style: normal;
	text-decoration: none;
	background: $darkpurple;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #fff;
	text-shadow: 1px 1px 0px $purple;
	-webkit-transition: all ease .25s;
	-moz-transition: all ease .25s;
	transition: all ease .25s;
	&:hover {
		color: #fff;
		text-decoration: none;
		background: lighten($darkpurple, 10);
	}

	&:visited {
		text-decoration: none;
	}
}

.submit-btn {
	-webkit-appearance:none;
	border: none;
	margin: 1em auto 2em auto;
	width: 100%;
}

.copy-btn {
	font-size: 1em;
	text-shadow: none;
	margin-bottom: 0.5em;
}


.header-row:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .15;
	background-image: url(images/noise3.png);
}

/* Header */
.header-row {
	background: $purple;
	// background: $purple url(images/noise2.png);
	// color: #fff;
	border-bottom: 11px solid $darkpurple;

	// h1 {
	// 	color: #fff;
	// 	font-size: 4em;
	// 	text-shadow: 4px 3px 0 $purple,9px 8px 0 rgba(0,0,0,0.2);
	// 	margin:0 0 0.5em 0;
	// }

	// .subipsum-logo {
	// 	display: inline-block;
	// 	margin-top: 2em;
	// 	border-radius: 50%;
	// 	box-shadow: 3px 1px 0 rgba(0,0,0,0.15);
	// }

	// background: $purple;

	h1 {
		display: inline-block;
		color: #fff;
		font-size: 4em;
		margin: 1em 0 1em 0;
		text-shadow: 4px 3px 0 $purple,9px 8px 0 rgba(0,0,0,0.2);
	}

	.subipsum-logo {
		margin-top: -13px;
		margin-right: 10px;
		border-radius: 50%;
		box-shadow: 4px 2px 0 rgba(0,0,0,0.2);

		position: absolute;
		bottom: -39px;
		left: 46%;
	}
}

// .header-row:after {
// 	content: '';
// 	display: block;
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// 	opacity: .2;
// 	background-image: url(images/noise.png);
// }

.fun-bg:after {
content: '';
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
opacity: .15;
z-index: -1;
background-image: url(images/noise4.png);
}

.fun-container {
	 // background: $darkpurple;
	// background: $purple url(images/noise2.png);
	// background: #f8f8f8;
	h1 {
		display: inline-block;
		color: #fff;
		font-size: 3em;
		text-shadow: 4px 3px 0 $purple,9px 8px 0 rgba(0,0,0,0.2);
	}
	h2 {

		font-size: 4em;
		color: $darkpurple;
		margin: 0;
		text-shadow: 2px 1px 0 rgba(0,0,0,0.2);
	}
	h3 {
		font-family: 'source-sans-pro', sans-serif;
		color: lighten($darkpurple, 20);
		margin-top: 0.5em;
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	}
	.subipsum-logo {
		display: inline-block;
		border-radius: 50%;
		box-shadow: 3px 1px 0 rgba(0,0,0,0.15);
	}

	.value-prop {
		
		border-top: 7px solid $darkpurple;
		margin-top: 5em;
		padding: 1.5em 2em 2em 2em;
	}
}

.action-container {
	background: rgba(246, 246, 246, 0.34);
	padding: 3em 0;
	// background: rgba($darkpurple, 0.2);
	border-top: 1px solid #e9e9e9;
	// border-bottom: 2px solid $purple;


	span {
		font-size: 3em;
		font-family: "museo-slab",serif;
	}
}

.content-bg {
	background: rgba(246, 246, 246, 0.34);
}

.content-container {
	background: rgba(255, 255, 255, 0.72);
	padding: 3.5em 4em;
	// border-left: 8px solid $darkpurple;
	min-height: 250px;
}

.filler {
	opacity: 0.4;
	
	h2 {
		display: inline-block;
	}

	.fa-reply {
		
		margin-left: 20px;
		-webkit-transform: rotate(113deg);
		-moz-transform: rotate(113deg);
		-ms-transform: rotate(113deg);
		-o-transform: rotate(113deg);
		transform: rotate(113deg);
	}

	.fa-6x {
		font-size: 6em;
	}
}




/* Footer */


footer {
	font-family: "museo-slab",serif;
	font-weight: 700;
	border-top: 1px solid #e9e9e9;
	// background: lighten($darkpurple, 5) url(images/noise2.png);
	background: #fff;
	color: $darkpurple;
	padding: 4em 0 2em 0;
	text-shadow: 1px 1px 0px #fff;

	.fa {
		// color: darken($darkpurple, 25);
		color: $darkpurple;
		text-shadow: 1px 1px 0px #fff;
		margin-left: 1em;
		-webkit-transition: all ease .25s;
		-moz-transition: all ease .25s;
		transition: all ease .25s;
	&:hover {
		color: lighten($purple, 10);;
	}
	}
}

@media only screen and (max-width: 930px) {
	.fun-container h2 {
	font-size: 3em;
	}
}

@media only screen and (max-width: 790px) {
	.action-container span {
		font-size: 2em;
		margin-top: 11px;
		display: inline-block;
	}

	.header-row h1 {
		font-size: 3em;
	}
}

@media only screen and (max-width: 680px) {
	
	textarea.submit-quotes, .submit-btn {
		width: 100%;
	}

	.content-container {
		background: rgba(255, 255, 255, 0.72);
		padding: 0.5em 1.5em;
	}

	.filler {
		margin: 1em;
	}
}

@media only screen and (min-width: 499px) and (max-width: 680px) {
	.action-container input[type="text"].input-field {
		width: 83%;
		margin-left: 0;
	}
}

@media only screen and (max-width: 500px) {
	.header-row h1 {
		font-size: 2em;
		margin: 1em 0 1.5em 0;
		text-shadow: 2px 2px 0 #9e54bd, 5px 4px 0 rgba(0, 0, 0, 0.2);
	}

	.fun-container .value-prop {
		margin-top: 1em;
		padding: 1em 0em 0em 0em;
	}

	.fun-container h2 {
		font-size: 2em;
	}

	.fun-container h3 {
		font-size: 1.2em;
	}

	.action-col {
		width: 100%;
		margin-bottom: 20px;
	}

	input[type="text"].input-field {
		width: 26%;
		margin-left: 1em;
	}

}

@media only screen and (max-width: 480px) {
	.filler .fa-6x {
		font-size: 3em !important;
	}

	.filler h2 {
		font-size: 1em;
	}
}

@media only screen and (max-width: 430px) {

.header-row .subipsum-logo {
		left: 40%;
	}

}

.name h1 {
	color: white;
}