<p><%= lorem_ipsum.content %> | 
  <%= link_to "delete", lorem_ipsum, method: :delete, data: { confirm: "Are you sure?" } %>
  <% unless lorem_ipsum.approved == 't' %>
    | <%= link_to "approve", approve_lorem_ipsum_path(lorem_ipsum), method: :edit %>
  <% end %>
</p>