<tr>
  <td><%= lorem_ipsum.content %></td>
  <td><span class="alert round label">
    <%= link_to "delete", lorem_ipsum, method: :delete, data: { confirm: "Are you sure?" } %>
  </span></td>
  <% unless lorem_ipsum.approved == 't' %>
    <td><span class="success round label">
      <%= link_to "approve", approve_lorem_ipsum_path(lorem_ipsum), method: :edit %>
    </span></td>
  <% end %>
</tr>
